html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  height: 100vh;
}

.scroll-panel {
  flex: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slide {
  height: 100vh;
  scroll-snap-align: start;
}

.side-panel {
  width: 320px;
  background: #eee;
}


